.div{
    border: 1px solid black;
    text-align: center;
}
.div img{
    width: 200px;
}
.div nav{
    background-color: black;
    line-height: 40px;
    text-align: center;
    padding-right: 10px;
    
}
.div nav a{
    text-decoration: none;
    color:white ;
    margin-right: 10px;
    
}
.div nav a:hover{
    background-color: lightgray;
    padding: 5px;
}